.site-header {
  $nav-spacing: rem(35);
  $header-outset: $header-height + $nav-spacing;

	@include flex-container;
  flex-direction: row;

  @include max-width {
    padding: 0;
  }

  &--wrapper {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    transform: translateZ(0);
    z-index: 900;
    color: $green;

    @media (min-width: $total-width + strip-units($header-outset* 2)) {
      margin-left: -$header-outset;
    }

    @include max-width {
      position: absolute;
    }
  }

  &--logo {
    @include size($header-height);
    display: flex;
    color: inherit;
    background: currentColor;
    align-items: center;
    justify-content: center;
    padding: rem(10);

    &:hover {
      color: inherit;
    }

    @include tablet {
      @include size(rem(70));
      padding: rem(5);
    }

    @include mobile {
      @include size(rem(60));
      padding: rem(5);
    }
  }

  svg {
    fill: $white;
  }

  &--nav {
    display: flex;
    align-items: center;
    opacity: 1;
    transition: all 0.3s ease;
    visibility: visible;

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  &--navlinks {
    display: flex;
    margin: 0;
  }

  &--navlinks li {
    list-style-type: none;
    font-size: rem(18);
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-weight: $medium-weight;
    margin-left: $nav-spacing;
    margin-bottom: 0;

    @include tablet {
      font-size: rem(16);
      margin-left: rem(28);
    }

    @include mobile {
      font-size: rem(13);
      margin-left: rem(16);
    }
  }

  &--navlinks a {
    color: $text-color;
    text-decoration: none;
    padding: rem(29) 0;
    position: relative;
    transition: color 0.3s ease;

    &:hover {
      color: inherit;
    }

    &:hover:after {
      transform: scaleX(1);
      background: currentColor;
      opacity: 1;
    }

    &:after {
      content: '';
      height: rem(3);
      color: inherit;
      background: currentColor;
      display: block;
      width: 100%;
      position: absolute;
      transform: scaleX(0);
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease, background 0s linear;
    }
  }
}