.site-header {
	@include flex-container;
  flex-direction: row;

  &--wrapper {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    transform: translateZ(0);
    z-index: 900;

    @include media($mobile) {
      position: absolute;
    }
  }

  &--logo {
    @include size($header-height);
    display: flex;
    background: $green;
    align-items: center;
    justify-content: center;
    padding: rem(10);

    @include media($tablet) {
      @include size(rem(70));
      padding: rem(5);
    }

    @include media($mobile) {
      @include size(rem(60));
      padding: rem(5);
    }
  }

  svg {
    fill: $white;
  }

  &--nav {
    display: flex;
    align-items: center;
    opacity: 1;
    transition: all 0.3s ease;
    visibility: visible;

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  &--navlinks {
    display: flex;
    margin: 0;
  }

  &--navlinks li {
    list-style-type: none;
    font-size: rem(18);
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-weight: $medium-weight;
    margin-left: rem(35);
    margin-bottom: 0;

    @include media($tablet) {
      font-size: rem(16);
      margin-left: rem(28);
    }

    @include media($mobile) {
      font-size: rem(13);
      margin-left: rem(16);
    }
  }

  &--navlinks a {
    color: $text-color;
    text-decoration: none;
    padding: rem(29) 0;
    position: relative;
    transition: color 0.3s ease;

    &:hover {
      color: $green;
    }

    &:hover:after {
      transform: scaleX(1);
      opacity: 1;
    }

    &:after {
      content: '';
      opacity: 0;
      height: rem(3);
      background: $green;
      display: block;
      width: 100%;
      position: absolute;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }
  }
}