.intro-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;

  &--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 0 rem(20);
  }

  &--slashes {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;

    // @include media($tablet) {
    //   left: rem(-70);
    // }

    // @include media($mobile) {
    //   left: rem(60);
    // }
  }

  &--title {
    text-transform: uppercase;
    font-size: rem(72);
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: rem(20);
    z-index: 100;
    margin-top: $header-height / 2;

    &:before {
      content: '';
      display: flex;
      border-top: 4px solid $text-color;
      width: rem(103);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: rem(20);
    }

    @include media($tablet) {
      font-size: rem(48);
      line-height: 1;
      margin-top: rem(30);
    }

    @include media($mobile) {
      margin-top: rem(20);

      &:after {
        content: '';
        display: flex;
        border-top: 4px solid $text-color;
        width: rem(103);
        margin-left: auto;
        margin-right: auto;
        margin-top: rem(27);
        margin-bottom: rem(2);
      }
    }
  }

  &--description {
    font-size: rem(24);
    font-weight: 500;
    letter-spacing: 0.05em;
    text-align: center;
    z-index: 100;

    @include media($mobile) {
     font-size: rem(20);
    }
  }

  &--scroll-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: rem(30);
    left: 0;

    &:focus {
      outline: none;
    }
  }
}

.main-slash {
  position: relative;

  @keyframes bonetrousle {
    0% {
      transform: translateX(-20%) skewX(-$slash-angle);
    }
    100% {
      transform: translateX(-70%) skewX(-$slash-angle);
    }
  }

  .slash-clipmask {
    overflow: hidden;
    width: rem(170);
    height: rem(804);
    transform: skewX($slash-angle);
  }
}

.main-slash.one {
  left: rem(100);
  top: 230px;

  .slash-image {
    position: relative;
    left: rem(-270);
    width: rem(702);
    height: rem(804);
    background: url('/dist/img/snow.gif') no-repeat $green;
    background-size: rem(356);
    transform: skewX(-$slash-angle);
  }

  &:before {
    @include slash-line;
    content: '';
    top: 0;
    left: rem(-350);
    top: rem(40);

  }

  &:after {
    @include slash-line;
    content: '';
    top: rem(-135);
    left: rem(-225);
  }
}

.main-slash.two {
  left: rem(120);

  .slash-image {
    background-image: url('/dist/img/mountain.jpg');
    width: rem(1623);
    height: rem(804);
    position: relative;
    animation: bonetrousle 50s linear infinite alternate;
  }

  &:after {
    @include slash-line;
    content: '';
    top: rem(90);
    left: rem(400);
  }
}

.placeholder {
  height: 400px;
  background: grey;
  width: 100%;
  margin-bottom: 30px;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto; 
}