@keyframes page-fadein {
  0% {
    transform: translateY(rem(40));
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  background: $white;
}

main {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.details .profile--wrapper {
  animation: page-fadein 0.8s $b-fastin-slowout;
}

.unloading section {
  transition: all 0.4s ease-out;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.unloading--start section {
  transform: translate3d(0, rem(10), 0);
  opacity: 0;
}

// Mixins
@mixin slash-line {
  height: rem(700);
  width: 1px;
  display: block;
  background: $grey;
  position: absolute;
  transform: rotate(-$slash-angle);
}

@mixin context-heading {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: rem(24);
  font-weight: $bold-weight;
}

@import
  "header",
  "intro"
;
