@import
  "header",
  "intro"
;

@keyframes pageFadeIn {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

main {
  overflow-x: hidden; 
}

.details main {
  animation: pageFadeIn 0.4s ease-in;
}

body:not(.home) main {
  margin-top: $header-height;
}

.unloading section {
  transition: all 0.4s ease-out;
  transform: translateY(0);
  opacity: 1;
}

.unloading--start section {
  transform: translateY(10px);
  opacity: 0;
}