---
layout: default
permalink: home
ref: home
---

<section class="intro-hero">
  <div class="intro-hero--wrapper">
    <h1 class="intro-hero--title">Hamish Williams</h1>
    <span class="intro-hero--description">Full Process Designer</span>

    <div class="intro-hero--slashes">
      <div class="main-slash one">{% include svg/slash.svg url='/dist/img/snow.gif' w='526px' %}</div>
      <div class="main-slash two">{% include svg/slash.svg url='/dist/img/mountain.jpg' w='1623px' %}</div>
    </div>
  </div>
</section>