.details {
  .site-header--wrapper {
    color: $indigo;
  }
}

.profile {
  @include flex-container;
  margin-top: rem(120);

  &--wrapper {
    @include flex-row;

    @include tablet {
      flex-direction: column;
    }
  }

  &--sidebar {
    flex: 0 0 33.3333%;
    padding-right: $gutter;

    img {
      width: 100%;
    }

    @include tablet {
      padding-right: 0;
    }
  }

  &--description {
    flex: 0 0 58.3333%;

    @include tablet {
      flex: 0 0 100%;
    }

    h1 {
      font-size: rem(72);
      font-weight: $medium-weight;
      line-height: 0.9;
      margin: rem(40) 0 rem(50);
    }

    p {
      font-size: rem(26);
      font-weight: $medium-weight;
    }
  }

  .main-slash {
    position: relative;

    .slash-clipmask {
      overflow: hidden;
      width: rem(170);
      height: rem(804);
      transform: skewX($slash-angle);
    }
  }
}