@import "../0-vendor/neat/neat-helpers";

// Grid
$column: 90px;
$gutter: 40px;
$outer-gutter: 20px;
$grid-columns: 12;
$max-width: 980px;

$header-height: rem(80);
$slash-angle: 33.5deg;

// Typography
$fallback-fonts: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: "ars_maquette", $fallback-fonts;
$base-font-size: 18px;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$base-font-weight: $regular-weight;
$base-line-height: 1.5;
$spacing-unit: rem(30);
$total-width: $max-width + $outer-gutter * 2;

// Color
$text-color: #414141;
$background-color: #ffffff;
$white: #ffffff;
$grey: #979797;
$green: #50e3c2;
$indigo: #5938ff;

// Breakpoints
$mobile-width: 400px;
$tablet-width: 768px;
$desktop-width: 1000px;

// Mixins
@mixin slash-line {
  height: rem(700);
  width: 1px;
  display: block;
  background: $grey;
  position: absolute;
  transform: rotate(-$slash-angle);
}
