---
layout: default
---

<div class="profile--side-info">
  <div class="location"><span class="highlight">Location</span> Sydney</div>
  <div class="divider"></div>
  <div class="role">Designer</div>
</div>

<section class="profile">
  <div class="profile--wrapper">
    <aside class="profile--sidebar">
      <div class="profile--picture">
        <img src="/dist/img/profile.jpg" alt="A picture of my face">
      </div>
      <div class="profile--experience">
        <h4>Experience</h4>
        <ul>
          {% for job in site.experience %}
            <li>
              <span class="job">{{ job[0] }}</span><br>
              <span class="role">{{ job[1] }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </aside>
    <div class="profile--description">
      <h1>Details</h1>
      {{ content }}
      <a href="mailto:{{ site.email }}">Send me an email</a>
    </div>
  </div>
  <div class="profile--slashes">
    <div class="slash-wrapper">
      <div class="main-slash one">
        <div class="slash-clipmask"></div>
      </div>
    </div>
    <div class="slash-wrapper">
      <div class="main-slash two">
        <div class="slash-clipmask"></div>
      </div>
    </div>
  </div>
</section>

<section class="placeholder"></section>
