---
layout: default
---

<section class="profile">
  <div class="profile--wrapper">
    <aside class="profile--sidebar">
      <div class="profile--picture">
        <img src="/dist/img/profile.jpg" alt="A picture of my face">
      </div>
      <div class="profile--experience">
      </div>
    </aside>
    <div class="profile--description">
      <h1>Details</h1>
      {{ content }}
    </div>
  </div>
  <div class="profile--slashes">
    <div class="main-slash one"></div>
    <div class="main-slash two"></div>
  </div>
</section>

<section class="placeholder"></section>
