---
layout: default
---

<section class="profile">
  <div class="profile--wrapper">
    <aside class="profile--sidebar">
      <div class="profile--picture">
        <img src="/dist/img/profile.jpg" alt="A picture of my face">
      </div>
      <div class="profile--experience">
        <h4>Experience</h4>
        <ul>
          <li>Smart Sparrow<br>UX/UI Designer</li>
          <li>Bold Horizon<br>Graphic Designer</li>
          <li>Freelance<br>Graphic Designer</li>
        </ul>
      </div>
    </aside>
    <div class="profile--description">
      <h1>Details</h1>
      {{ content }}
      <a href="#">Send me an email</a>
    </div>
  </div>
  <div class="profile--slashes">
    <div class="slash-wrapper">
      <div class="main-slash one">
        <div class="slash-clipmask"></div>
      </div>
    </div>
    <div class="slash-wrapper">
      <div class="main-slash two">
        <div class="slash-clipmask"></div>
      </div>
    </div>
  </div>
</section>

<section class="placeholder"></section>
